div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
	color: #000;
	display: block;
	position: relative;
	z-index: 1000;
	border: 1px solid #FFF;
	margin: 5vw;
	padding: 20px;
}
body {
	// font-family: $font_primary;
	// font-size: 16px;
	// font-weight: 400;
	// line-height: 1.5;
	color: $color_text_main;
}
section, div {
	&:focus {
		outline: 0;
	}
}
a,input,button,select,textarea {
	transition: all ease .3s;
}
a {
	color: $primary;
	text-decoration: underline;
	&:hover {
		color: tint($primary,40%);
	}
}
.page-header, .page-footer__nav {
  ul {
    list-style: none;
  }
}
.page-footer__nav {
  ul {
    margin: 0 0;
    padding: 0 0;
  }
}
.hero {
  h1,h2,h3 {
    margin: 0 0 10px;
  }
}
.home-ctas__cta-title,
.home-ctas__cta-subtitle {
  font-weight: 400;
}
.home-quote__quote {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.entry-content.body-content {
  ul, ul > li {
    list-style-type: square;
  }
  ul li {
    display: list-item;
    margin-bottom: 0;
    ul {
      list-style-type: circle;
    }
  }
  > h2 {
    font-weight: 700;
  }
  > h3,
  > h4,
  > h5,
  > h6 {
    font-weight: 400;
  }
}
.content-custom-columns {
  max-width: 1000px;
  width: 100%;
  margin:0 auto;
  .wp-block-column {
    h2 {
      font-size: 16px;
      font-weight: 400;
      color: #001b33;
      line-height: 21px;
      letter-spacing: 0.88px;
      text-transform: uppercase;
    }
    p {
      font-size: 12px;
      line-height: 1.8;
      color: #818080;
    }
  }
}
ul.faqlist__list,
.tabnav ul {
  list-style: none;
}
.faqlist__question {
  font-weight: normal;
  margin: 0 0;
}

.page-header__inner--desktop .page-header__logo {
  height: 50px;
  transition: all ease .3s;
}
body.body--scroll-top {
  .page-header__inner--desktop .page-header__logo {
    height: 58px;
  }
} 
.hero .hero__inner {
  max-width: 850px;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
}
.sponsors-section {
  .inner {
    @include flexgroup();
    @include flexbox-justify(center);
  }
  .sponsor-logo {
    width: 100%;
    padding: 15px;
    @include xs {
      width: 50%;
    }
    @include tab {
      width: 25%;
    }
    .link {
      display: block;
      width: 100%;
      float: left;
      margin: 0 0;
      padding: 0 0;
      background-position: center;
      background-repeat:no-repeat;
      background-size: 70%;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    a.link {
      cursor: pointer;
    }
    a.link.active,
    a.link:hover {
      box-shadow: 0 0 20px rgba(5,79,151,0.5);
      //box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }
    a.link:hover {
      transform: translateY(-3px);
    }
    img {
      width: 100%;
      height: auto;
      float: left;
    }
  }
}
.wrapper {
  max-width: 1440px;
  width: 100%;
  margin:0 auto;
}

#sponsor-details-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  background: rgba(0,0,0,.75);
  overflow: auto;
  z-index: 1000000;
  .sponsor-wrap {
    max-width: 800px;
    width: 100%;
    min-height: 20em;
    margin:0 auto;
    padding: 30px 35px;
    background-size: 30%;
    background-position: bottom right;
    background-color: #FFF;
    background-repeat: no-repeat;
    position: relative;
    top: 30%;
    transform: translateY(-30%);
    border-radius: 15px;
    font-size: 16px;
    line-height: 1.5;
  }
  .sponsorLogo {
    width: 50%;
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translateY(-50%) translateX(-50%);
    bottom: 10px;
    right: 10px;
    filter: grayscale(1);
    opacity: 0.1;
  }
  .sponsor-logo-img {
    width: 100%;
    height: auto;
  }
  #close-info {
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: -999em;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.5;
    transition: all ease .3s;
    &:before, &:after {
      content:"";
      display: block;
      width: 100%;
      height: 2px;
      background: #000;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      opacity: 1;
    }
  }
}

#home-upcoming-events.home-quote {
  padding-left: 0;
  padding-right: 0;
  .wrapper {
    max-width: 1200px;
    width: 100%;
  }
  .flexwrap {
    @include flexgroup();
    @include flexbox-justify(center);
  }
  .event {
    text-align: center;
    width: 100%;
    padding: 15px;
    @include tab {
      width: 33.33%;
    }
  }
  .eventLink {
    text-decoration: none;
    color: #FFF;
  }
  .date {
    margin-bottom: 5px;
  }
  .title {
    font-size: 1.7em;
    font-weight: 600;
    line-height: 1.2;
  }
  .date, .title {
    transition: all ease .3s;
  }
  a.eventLink:hover {
    .date, .title {
      color: #df3a3e;
    }
  }
}

.wp-block-embed {
  text-align: center;
  padding: 0 15px;
  @include tab {
    padding: 0 0;
  }
  .embed-youtube {
    display: block;
    max-width: 640px;
    width: 100%;
    margin:0 auto;
    position: relative;
    background-color: #000;
    iframe {
      position:absolute;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%!important;
      height: 100%!important;
    }
    img.video-resizer {
      width: 100%;
      height: auto;
    }
  }
}

#loaderdiv {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 3000000;
  text-align: center;
  &.show {
    @include flexbox();
    @include flexbox-align-items(center);
    @include flexbox-justify(center);
  }
  .loader, .loader:after {
    width: 8em;
    height: 8em;
  }
}


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  display: inline-block;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.15);
  border-right: 1.1em solid rgba(0, 0, 0, 0.15);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.15);
  border-left: 1.1em solid #ED3742;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  .hfeed.page {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .post-header--list {
    margin-bottom: 10px;
  }
  .post-header__inner {
    margin-left: 0;
    margin-right: 0;
  }
  .post-list {
    display: block;
    width: 100%;
  }
  .post-list__thumbnail {
    max-width: 100%;
    width: 100%;
  }
  .single-content .entry-content__thumbnail {
    // margin-left: 0;
    // margin-right: 0;
    // margin-bottom: 20px;
    width: calc(100% - 20px);
    margin:0 auto 20px;
    
  }
}
