$sponsor-gutter-width: 100px;
$sponsor-gutter-line-length: 60px;
$sponsor-border-color: $color-red;

.sponsor-list-large {
  @include center-width(1000px);
  @include breakpoint(medium) {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 80px;
    padding-top: 100px;

    &::before {
      background: $color-red;
      bottom: 0;
      content: '';
      left: 50%;
      position: absolute;
      top: 15%;
      transform: translateX(-50%);
      width: 2px;
    }
    &::after {
      background: $color-red;
      bottom: 0;
      content: '';
      height: 1px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: $sponsor-gutter-line-length;
    }
  }

  .sponsor {
    display: block;
    color: $font-color-base;
    padding: 40px;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;

    &::before {
      content: '';
      background-color: $sponsor-border-color;
      width: 60px;
      height: 1px;
      top: 0;
      left: 40px;
      position: absolute;
    }

    @include breakpoint(medium) {
      width: 50%;
      box-sizing: border-box;
      &::before {
        left: auto;
        right: auto;
        top: 0;
        bottom: 0;
        width: 1px;
        height: auto;
      }

      // Right
      &:nth-child(odd) {
        transform: translateX(100%) translateX(-1px);
        padding-left: $sponsor-gutter-width;
        padding-right: 0;
        &::before {
          left: 0;
        }

      }

      // Left
      &:nth-child(even) {
        margin-top: -38.25%;
        padding-right: $sponsor-gutter-width;
        padding-left: 0;
        &::before {
          right: 0;
        }
      }

      &:first-child,
      &:nth-child(2) {
        &::before {
          top: 50%;
        }
      }
    }

    &__header {
      margin-bottom: 35px;
    }

    &__title {
      font-size: 32px;
      font-weight: 700;
      color: $sponsor-border-color;
      line-height: 43px;
    }
    &__slogan {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: -0.08px;
      color: $color-blue;
      margin-bottom: 20px;
    }
    &__image {
      max-height: 100px;
      max-width: 100%;
      width: auto;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint(medium) {
      &__header {
        position: relative;
        &::before {
          content: '';
          width: $sponsor-gutter-line-length;
          height: 1px;
          position: absolute;
          top: 50%;
          right: -$sponsor-gutter-width;
          background: transparent;
          border: 1px solid $color-red;
          height: 200px;
          box-sizing: border-box;
          border-bottom: 0;
        }
      }
      // Right
      &:nth-child(odd) {
        .sponsor__header {
          &::before {
            right: auto;
            left: -$sponsor-gutter-width;
            border-right: 0;
          }
        }
      }
      // Left
      &:nth-child(even) {
        .sponsor__header {
          &::before {
            border-left: 0;
          }
        }
      }
    }

    p {
      margin-bottom: 20px;
    }
  }
}