
$header-medium-height-top: 90px;
$header-medium-height: 70px;
$header-animation-type: linear;
$header-animation-time: $animation-time-default;
$hamburger-bg: $color-red;
$hamburger-fg: $white;
$hamburger-height: 21px;
$hamburger-width: 25px;
$hamburger-unit: calc($hamburger-height / 5);
$hamburger-transform-time: $animation-time-default;
$hamburger-transform-type: ease-out;

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slidedown {
  0% {
    display: block;
    z-index: -1;
    transform: translateY(-100%);
    opacity: 0;
  }

  99% {
    z-index: -1;
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    z-index: 1;
  }
}

@keyframes slideup {
  0% {
    display: block;
    z-index: -1;
    transform: translateY(0);
    opacity: 1;
  }

  99% {
    transform: translateY(-100%);
  }

  100% {
    display: none;
    opacity: 0;
  }
}

.logo {
  color: $white;
  display: block;
  flex-direction: column;
  font-size: 11.5px;
  justify-content: center;
  letter-spacing: .63px;
  line-height: 15px;
  max-width: 100px;
  padding: 0 30px;
  text-align: justify;
  text-decoration: none;

  &__strong {
    display: block;
    font-size: 21px;
    letter-spacing: 0.35px;
    line-height: 28px;
  }

  &:hover {
    color: $white;
  }
}

.page-header {
  background-color: $color-blue;

  .hamburger-icon {
    display: inline-block;
    background: $hamburger-fg;
    position: relative;
    width: $hamburger-width;
    height: $hamburger-height;
    transition: background $hamburger-transform-time $hamburger-transform-type;

    &::after,
    &::before {
      content: '';
      background: $hamburger-bg;
      position: absolute;
      width: $hamburger-width;
      height: $hamburger-unit;
      left: 0;
      transition: background $hamburger-transform-time $hamburger-transform-type, transform $hamburger-transform-time $hamburger-transform-type;
    }

    &::after {
      top: $hamburger-unit;
    }

    &::before {
      bottom: $hamburger-unit;
    }
  }

  &__home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
  }

  &__logo {
    display: inline-block;
    margin: 0 auto;
  }

  &__inner {
    @include center-width(false, 0);
  }

  &__inner--desktop {
    display: none;

    .page-header__home {
      padding-left: 10px;
      padding-right: 10px;
    }

    .page-header__logo {
      // width: 147px;
      height: 70px;
    }
  }

  &__inner--mobile {
    background: $color-blue;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;

    .page-header__home {
      flex-grow: 1;
      height: $header-height-mobile;
      padding-left: 10px;
      padding-right: 10px;
    }

    .page-header__logo {
      margin-left: 10px;
      margin-right: 0;
      max-width: 270px;
    }
  }

  &__mobile-nav {
    display: none;
  }

  &__hamburger {
    background: $hamburger-bg;
    border: 0;
    padding: 0 20px;
    position: relative;
    z-index: 100;
  }

  @include breakpoint(small) {
    &__branding {
      width: 150px;
    }
  }

  @include breakpoint(medium) {
    z-index: 4;
    position: fixed;
    left: 0;
    right: 0;

    &__inner--desktop {
      background: $white;
      display: flex;
      height: $header-medium-height;
      transition: height $header-animation-time $header-animation-type;
    }

    &__inner--mobile,
    &__mobile-nav {
      display: none;
    }

    &__mobile-nav {
      display: none !important;
    }

    &__branding {
      background: $midnight;
      color: $white;
      display: flex;
      width: 243px;
    }

    .nav {
      flex-grow: 1;
      display: flex;

      &__link {
        color: $midnight;
        display: flex;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.08px;
        // line-height: $header-medium-height;
        transition: line-height $header-animation-time $header-animation-type;
        padding: 0 30px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        height: 100%;
        flex-direction: column;
        justify-content: center;

        &:hover {
          text-decoration: underline;
        }

        &::after {
          background: #d8d8d8;
          content: '';
          height: 30px;
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 2px;
        }
      }

      &__link--current {
        color: $color-red;
        position: relative;

        &::before {
          background-color: $color-red;
          content: '';
          height: 5px;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      &__item {
        min-width: 130px;
        min-height: $header-medium-height;
        transition: height $header-animation-time $header-animation-type;

        &:first-child {
          > .nav__link::after {
            display: none;
          }
        }
      }

      &__children {
        animation: fadeout .25s linear;
        background: $color-blue;
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        z-index: -1;

        .nav__item {
          display: inline-block;
        }

        .nav__link {
          color: $white;
          font-size: 16px;
          line-height: 30px;
          padding: 50px 30px;
          text-transform: none;
        }

        .nav__link--current {
          text-decoration: underline;

          &::before {
            background: transparent;
          }
        }
      }

      &__item--active {
        > .nav__link {
          text-decoration: underline;
        }

        .nav__children {
          animation: fadein .25s linear;
          display: block;
        }
      }

      &__list--root {
        display: flex;
        margin: 0 auto;
        width: 100%;
        justify-content: space-evenly;

        > .nav__item {
          width: 100%;
        }
      }
    }

    &__footer {
      display: flex;

      .page-header__nav--register .nav__link {
        background-color: $color-red;
        color: $white;
        display: flex;
        align-items: center;
        padding: 0 50px;
        text-decoration: none;

        &:hover {
          background-color: $color-dark-red;
        }
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidefromright {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

.mobile-nav {
  background: rgba($color-blue, .5);

  &__header {
    display: flex;
  }

  &__home {
    flex-grow: 1;
  }

  &__inner {
    background: $color-red;
    bottom: 0;
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 42px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
  }

  &__navs {
    padding: 0 30px;
    overflow: scroll;
    flex-grow: 1;
  }

  .nav {
    &__header {
      margin-bottom: 30px;
    }

    &__link {
      color: $white;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__children {
      display: none;

      .nav__link {
        line-height: 36px;
        font-size: 14px;
      }
    }

    &__item--active {
      > .nav__link {
        color: $color-blue;
      }

      .nav__children {
        display: block;
      }
    }
  }
  $arrow-size: 10px;
  $arrow-thickness: 2px;

  .nav__list--root {
    & > .nav__item {
      margin-bottom: 13px;
    }

    .nav__link--parent {
      &::after {
        border: {
          left: 0;
          right: $arrow-thickness solid $white;
          bottom: $arrow-thickness solid $white;
          top: 0;
        };
        content: '';
        height: $arrow-size;
        position: absolute;
        right: $arrow-size;
        top: calc($arrow-size / 2);
        transform-origin: center;
        transform: rotate(45deg);
        transition: transform $animation-time-default ease-in, top $animation-time-default ease-in;
        width: $arrow-size;
      }
    }

    .nav__item--active {
      .nav__link--parent {
        &::after {
          transform: rotate(-135deg);
          border-color: $color-blue;
          top: $arrow-size;
        }
      }
    }
  }

  .page-header__nav {
    margin-bottom: 20px;
  }

  .page-header__nav--main-menu {
    .nav__link--root {
      display: block;
      position: relative;
      font-size: 22px;
      text-transform: uppercase;
      line-height: 30px;
    }
  }

  .page-header__nav--register {
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    margin: 0;

    .nav__item {
      margin: 0 !important;
    }

    .nav__link {
      display: block;
      background: $white;
      color: $color-blue;
      font-size: 12px;
      line-height: 16px;
      padding: 20px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
$mobile-animation-time: .25s;
$mobile-animation-type: linear;

.body--scroll-top {
  .page-header__inner--desktop {
    height: $header-medium-height-top;

    .nav__list--root > .nav__item {
      min-height: $header-medium-height-top;

      > .nav__link {
        // line-height: $header-medium-height-top;
      }
    }
  }
}

.body--mobile-nav-active {
  overflow: hidden;

  .hamburger-icon {
    background: $hamburger-bg;

    &::after,
    &::before {
      background: $hamburger-fg;
      bottom: auto;
      top: $hamburger-unit * 2;
      left: -$hamburger-unit;
      width: sqrt(strip-unit($hamburger-height * $hamburger-height) + strip-unit($hamburger-width * $hamburger-width)) * 1px;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &::before {
      transform: rotate(45deg);
    }
  }

  .mobile-nav {
    animation: fadein $mobile-animation-time $mobile-animation-type;
    position: fixed;
    display: block;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &__inner {
      animation: slidefromright $mobile-animation-time $mobile-animation-type;
    }
  }
}
