

$endeavour: #00529b;
$mariner: #2978bd;
$sail: #bde5f8;
$powder-blue: #c3e7ee;
$vida-loca: #4f8a10;
$tusk: #dff2bf;
$chelsea-gem: #9f6000;
$buttermilk: #feefb3;
$monza: #d8000c;
$cosmos: #ffd2d2;
$alabaster: #f8f8f8;
$gallery: #eeeeee;
$silver: #cccccc;
$wild-sand: #f5f5f5;
$puerto-rico: #39bdb3;
$mexican-red: #a82a2d;
$dusty-gray: #9b9b9b;
$dark-tan: #781215;
$tundora: #4a4a4a;
$boulder: #7d7d7d;
$charade: #272b36;
$midnight: #001b33;
$punch: #df3a3e;
$white: #fff;
$alto: #d8d8d8;

// Named Colors
$font-color-base: $charade;
$link-color-base: $punch;
$link-color-hover: lighten($punch, .25);
$color-red: $punch;
$color-dark-red: $mexican-red;
$color-darker-red: $dark-tan;
$color-blue: $midnight;
$color-green: $puerto-rico;
$color-gray-light: $alto;
$color-gray-lighter: $wild-sand;
$color-gray: $boulder;
$color-gray-dark: $tundora;
$color-light-blue: $powder-blue;
$color-success: $vida-loca;
$color-success-bg: $tusk;
$color-info: $endeavour;
$color-info-bg: $sail;
$color-warning: $chelsea-gem;
$color-warning-bg: $buttermilk;
$color-error: $monza;
$color-error-bg: $cosmos;
$color-inactive: $silver;
$color-inactive-bg: $gallery;
$color-input-border: $silver;
$color-shadow: rgba(0, 0, 0, .25);