
@font-face {
  font-family: 'montserrat';
  src: url('assets/fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'montserrat';
  src: url('assets/fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
       url('assets/fonts/montserrat/montserrat-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'montserrat';
  src: url('assets/fonts/montserrat/montserrat-medium-webfont.woff2') format('woff2'),
       url('assets/fonts/montserrat/montserrat-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'montserrat';
  src: url('assets/fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}


@font-face {
  font-family: 'europa-bold';
  src: url('assets/fonts/europa-bold/europa-bold.woff2') format('woff2'),
       url('assets/fonts/europa-bold/europa-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}